<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <title>ToDo List</title>
</head>
<body>
    <script src="{{url_for('static', filename='index.js')}}"></script>
    <div class="container">
        <form action="/add-task" onsubmit="addTask(this);" id='task-form' method="POST" novalidate>
            <fieldset class="form-group">
                <legend>Add task</legend>
                {% for field in form %}
                    {% if not (field.label.text in ('CSRF Token', 'Create', 'task-id')) %}
                        <div class="mb-3">
                            {{ field.label(class_='form-label') }}
                            {{ field(class_='form-control', aria_describedby='{}-validation'.format(field.name)) }}
                            <div id="{{'{}-validation'.format(field.name)}}"></div>
                        </div>
                    {% else %}
                        {{ field() }}
                    {% endif %}
                {% endfor %}
                <div class="mb-3">
                    <label for="color">Task color</label>
                    <input type="color" name="color" id="color" class="" value="#ffffff">
                </div>
                <div class="mb-3">
                    <label for="comments">Comments:</label>
                    <a href="#" id="comments-addition" onclick="addCommentField();">add</a>
                </div>
            </fieldset>
            <input type="submit" id="submit" value="Create" class="btn btn-primary">
            <input type="reset" value="Clear" class="btn btn-primary">
            <input type="button" value="Reset" class="btn btn-primary" onclick="resetForm();">
        </form>
        <h2>Tasks:</h2>
        <div id="task-list-container">
        </div>
    </div>
    <script>
        let listElem = document.getElementById('task-list-container');
        fillTasks();
        let cleanForm = document.getElementById('task-form').cloneNode(true);
    </script>
</body>
</html>